@border-color: #e7e7e7;

#tree {
    // color: #e7e7e7;
    ul {
        list-style-type: none;
        .jqtree-folder > .jqtree-element  > .show_link{
            display: none;
        }
        .jqtree-element {
            &.jqtree_common &
            .jqtree-toggler {
                cursor: pointer;
                text-decoration: none;
                padding-left: 0;
            }
            .btn {
                font-size: 0.8em;
            }
            border-bottom: 1px solid @border-color;
            margin-bottom: 5px; 
            padding: 5px;
        }
    }
    & > ul {
        padding: 0;
    }
}
#view {
    padding: 25px;
    border: 1px solid @border-color;
}